communication/test.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="command">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="install">
          <xsd:complexType>
            <xsd:attribute name="package" type="xsd:string" />
            <xsd:attribute name="client" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" />
      <xsd:attribute name="time" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>